* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.intro h2 {
    font-family: 'Modak', cursive;
    color: #3FADCD;
}

.intro p {
    font-size: 20px;
    width: 70vh;
    display: inline-flex;
    text-align: center;
}

.result {
    display: block;
}

.text-orange {
    color: orangered;
}

.madlib-size {
    font-size: 40px;
}

input {
    margin-right: 10px;
    position: relative;
}

label {
    cursor: pointer;
    color: aliceblue;
    display: inline-flex;
    align-items: center;
}


.quiz {
    background-color: #cd853f;
}


@media (max-width:700px) {
    .intro p {
        width: 40vh;
    }

    .intro h2 {
        font-size: 60px;
    }

    
}
